// breakpoint
$breakpoint-xs: 320px;
$breakpoint-sm: 600px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1440px;

// font-families
$dot-gothic: "Dot Gothic";
$fragment-mono: "Fragment Mono";
$libre-franklin: "Libre Franklin";
$orbitron: "Orbitron";

// colors